@import "../mixins";
@import "../variables";
@import "../extensions";

.homeText {
  @include display-flex();
  @include justify-content-center();
  font-size: 30px;
}

.content {
  @include display-flex();
  @include align-items-center();
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 25vh;
  text-align: left;
}

.loginBtn {
  @extend .mainInputStyle;
  border: 0.5px solid $submit-color;
  margin-top: $main-margin * 2;
  font-size: medium;
  background-color: rgb(246,124,105);
  color: $submit-color;
  width: 20vh;
  cursor: pointer;
  &:active {
    opacity: 50%;
  }
  &:hover {
    filter: invert(100%);
  }
}
